<%= form_for @category, :html => { :multipart => true } do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.autocomplete_field :name, categories_path %>
  </div>
  <div class="field">
    <% if logged_in? && current_user.admin? %>
    <%= f.label :Parent_category %><br>
    <%= f.number_field :category_id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
