<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Views:</strong>
  <%= @category.views %>
</p>

<p>
  <strong>Parent category:</strong>
  <% if @category.category_id != nil %>
  <%= link_to @category.parent_category.name, category_path(@category.category_id) %>
  <% else %>No parent category
  <% end %>
</p>

<p>
  <strong>Subcategories:</strong>
  <% if @category.subcategories.length != 0 %>
    <ul><% subcat = Hash.new %>
      <% @products.each do |sub| %>
          <% subcat[sub.category.id] = sub.category.name %>
      <% end %>
      <% subcat.each do |subid, subname| %>
          <li><%= link_to subname, category_path(subid) %></li>
      <% end %>
    </ul>
<% else %>No subcategory
<% end %>
</p>

<p>
  <strong>Products:</strong> <%= @products.length %>
  <% if @products.length != 0 %>
  <ul>
  <% @products.each do |prod| %>
    <li><%= link_to prod.title, product_path(prod.id) %></li>
      <% end %>
  </ul>
  <% end %>
</p>

<div id="fb-root"></div>
<div class="fb-share-button" data-layout="button_count" data-mobile-iframe="true"></div>

<% if logged_in? %>
  <%= button_to 'Add subcategory', new_child_category_path(@category), class: "btn btn-large btn-primary" %>
  <%= button_to 'Edit category', edit_category_path(@category), method: :get, class: "btn btn-large btn-primary" %>
<% end %>
<%= button_to 'Back to category list', categories_path, method: :get, class: "btn btn-large btn-primary" %>
