<h2>Congratulation <%= @product.user.profile.first_name %> <%= @product.user.profile.last_name %> your product has been paid !</h2>

<p>You can send your product to:</p>

<ul>
<li>street number :<%= @bid.user.profile.street_number %></li>
<li>street name :<%= @bid.user.profile.street_name %></li>
<li>city :<%= @bid.user.profile.city %></li>
<li>postcode :<%= @bid.user.profile.postcode %></li>
<li>country :<%= @bid.user.profile.country %></li>
</ul>

<p>See you soon, on myEbayApp !</p>