<h2>Congratulation <%= @product.user.profile.first_name %> <%= @product.user.profile.last_name %> your product has been sold !</h2>

<p>Wait your payment from :</p>

<%= link_to @product.bid_winner(@product).user.profile.nickname, user_url(@product.bid_winner(@product).user.id) %>

<p>See you soon, on myEbayApp !</p>