<h2>Sorry <%= @product.user.profile.first_name %> <%= @product.user.profile.last_name %> your product has not been sold !</h2>

<p>Want you selling again ?:</p>

<%= link_to '7 more days for ' + @product.title, more_days_url(@product) %>

<p>After 5 days, your product will be automatically removed.</p>

<p>See you soon, on myEbayApp !</p>