<h2>Ban account</h2>

<p>Dear <%= @user.profile.first_name %> <%= @user.profile.last_name %> your account on myEbayApp has been banned by the administrator.</p>

<p>Perhaps another time, on myEbayApp !</p>