<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table id="users">
  <thead>
    <tr>
      <th>Picture</th>
      <% if logged_in? && current_user.admin? %>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Adress</th>
      <% end %>
      <th>Nickname</th>
      <th>Product quantity</th>
      <th>Views</th>
      <th>Rate</th>
      <th>Ban?</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><% if user.profile.image.url != nil %><div class="img"><%= image_tag user.profile.image.url %></div>
            <% else %>empty
            <% end %></td>
        <% if logged_in? && current_user.admin? %>
        <td><%= user.email %></td>
        <td><%= user.profile.first_name %></td>
        <td><%= user.profile.last_name %></td>
        <td><%= user.profile.street_number %>, <%= user.profile.street_name %>, <%= user.profile.postcode %>,
            <%= user.profile.city %>, <%= user.profile.country %></td>
        <% end %>
        <td><%= user.profile.nickname %></td>
        <td><%= user.products.length %></td>
        <td><%= user.views %></td>
        <td><% if user.evaluations.length != 0 %>
              <% note = 0 %>
              <% user.evaluations.each do |evaluation| %>
                  <% note += evaluation.rate %>
              <% end %>
              <%= note.round(2) / user.evaluations.length %> / 5
          <% else %>
              empty
          <% end %></td>
        <td><%= user.ban %>  
        <td><%= button_to 'Show user', user, method: :get, class: "btn btn-large btn-primary" %>
        <% if logged_in? %>
        <%= link_to 'Add evaluation', new_eval_path('User', user), class: "btn btn-large btn-primary" %>
        <% end %>
        <% if logged_in? && (current_user.id == user.id || current_user.admin?) %>
        <%= button_to 'Edit user', edit_profile_path(user), method: :get, class: "btn btn-large btn-primary" %>
        <%= button_to 'Remove user', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %><% end %>
        <% if logged_in? && current_user.admin? && user.ban == false %>
          <%= button_to 'Ban user', user_ban_path(user), class: "btn btn-large btn-primary" %>
        <% elsif logged_in? && current_user.admin? && user.ban == true %>
          <%= button_to 'Deban user', user_deban_path(user), class: "btn btn-large btn-primary" %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !logged_in? %>
  <%= button_to 'New user', new_user_path, method: :get, class: "btn btn-large btn-primary" %>
<% end %>