<%= form_for @profile, :html => { :multipart => true } do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% if logged_in? %>
        <%= fields_for :users do |user| %>
            <div class="field">
              <%= user.label :email %><br>
              <%= user.email_field :email, :value => @user.email %>
            </div>
            <div class="field">
              <%= user.label :password %><br>
              <%= user.password_field :password %>
            </div>
            <div class="field">
              <%= user.label :password_confirm %><br>
              <%= user.password_field :password_confirm %>
            </div>
            <% if current_user.admin? %>
                <div class="field">
                  <%= user.label :admin %><br>
                  <%= user.text_field :admin, :value => @user.admin %>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <p>(max size 300*300)</p>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :nickname %><br>
      <%= f.text_field :nickname %>
    </div>
    <div class="field">
      <%= f.label :name_of_the_house %><br>
      <%= f.text_field :name_of_the_house %>
    </div>
    <div class="field">
      <%= f.label :street_number %><br>
      <%= f.number_field :street_number %>
    </div>
    <div class="field">
      <%= f.label :street_name %><br>
      <%= f.text_field :street_name %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :postcode %><br>
      <%= f.number_field :postcode %>
    </div>
    <div class="field">
      <%= f.label :country %><br>
      <%= f.text_field :country %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %><br>
      <%= f.date_field :date_of_birth %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
