<h1>Editing Profile</h1>

<%= render 'form' %>

<%= button_to 'Back to user', user_path(@profile), method: :get, class: "btn btn-large btn-primary" %>
<%= button_to 'Back to users list', users_path, method: :get, class: "btn btn-large btn-primary" %>
