<p id="notice"><%= notice %></p>

<h1>Listing Archive Products</h1>
<p>Average bidding amount:<strong><% if @average != nil %><%= @average %><% else %>Empty<% end %></strong></p>

<table id="products">
  <thead>
  <tr>
    <th>Owner</th>
    <th>Picture</th>
    <th>Immediate price</th>
    <th>Date bidding end</th>
    <th>Date bidding start</th>
    <th>Start price</th>
    <th>Minimum bid</th>
    <th>Buying price</th>
    <th>Buyer</th>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Views</th>
    <th>Rate</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><% if logged_in? && current_user.admin? %><%= link_to product.user.profile.first_name + ' ' +
                                                                      product.user.profile.last_name, user_path(product.user_id) %>
              <% else %><%= link_to product.user.profile.nickname, user_path(product.user_id) %>
          <% end %></td>
        <td><% if product.image.url != nil %><div class="img"><%= image_tag product.image.url %></div>
          <% else %>empty
          <% end %></td>
        <td><% if product.immediate_price != nil %><%= product.immediate_price %> €
          <% else %>empty<% end %></td>
        <td><%= product.date_bidding_end %></td>
        <td><%= product.date_bidding_start %></td>
        <td><%= product.start_price %> €</td>
        <td><%= product.minimum_bid %> €</td>
        <td><%= product.buying_price %></td>
        <td><% if logged_in? && current_user.admin? %><%= product.buyer_name %>
            <% else %><%= product.buyer_nickname %><% end %></td>
        <td><%= product.title %></td>
        <td><%= link_to product.category.name, category_path(product.category.id) %></td>
        <td><%= product.description %></td>
        <td><%= product.views %></td>
        <td><% if product.evaluations.length != 0 %>
              <% note = 0 %>
              <% product.evaluations.each do |evaluation| %>
                  <% note += evaluation.rate %>
              <% end %>
              <%= note / product.evaluations.length %> / 5
          <% else %>
              empty
          <% end %></td>
        <td><%= button_to 'Show product', product, method: :get, class: "btn btn-large btn-primary" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>