<h1>New Product</h1>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Add more categories', categories_path, class: "btn btn-large btn-primary" %>

<%= button_to 'Back to products list', products_path, method: :get, class: "btn btn-large btn-primary" %>
