<p id="notice"><%= notice %></p>


<p>
  <strong>Sender:</strong>
  <% if current_user.admin? %><%= link_to @message.sender_name, user_path(@message.sender_id) %>
  <% else %><%= link_to @message.sender_nickname, user_path(@message.sender_id) %><% end %>
</p>

<p>
  <strong>Receiver:</strong>
  <% if current_user.admin? %><%= link_to @message.receiver_name, user_path(@message.receiver_id) %>
  <% else %><%= link_to @message.receiver_nickname, user_path(@message.receiver_id) %><% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @message.created_at %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Report message to webmaster', message_report_path(@message), class: "btn btn-large btn-primary" %>
<%= button_to 'Back to your messages', messages_path, method: :get, class: "btn btn-large btn-primary" %>
<% if User.where(:id => @message.sender_id) != [] %>
<%= button_to 'respond message', message_respond_path(@message.sender_id), method: :get, class: "btn btn-large btn-primary" %>
<% else %>
<p>Sender does not exist anymore.</p>
<% end %>
<%= button_to 'Remove message', message_destroy_path(@message), method: :delete, class: "btn btn-large btn-primary" %>