body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: CornflowerBlue;
}

header{
	width:100%;
	position: fixed;
}

main {
	padding: 80px 0px 0px 0px;

}

.last_activity {
	font-style: italic; 
}

.profile_info {
	font-size: 14px;
}

button {
	border-radius: 5px;
	border: none;
}

nav, .profile  {
	border-radius: 10px;
	border: 1px solid;
	padding: 5px;
	display: inline-block;
	background-color: white;
}

input[type=submit] {
	color: white;
	background-color: blue;
	display: inline;
	border: none;
	font-weight: bold;
	border-radius: 10px;
}

.button_hide {
	color: white;
	background-color: blue;
	display: inline;
}

.publication {
	border-radius: 10px;
	width: 70%;
	border: 1px solid;
	padding: 5px;
	display: inline-block;
	margin: 10px;
	background-color: white;
}

#listFriend {
	width: 20%;
	padding: 2px;
	border-radius: 8px;
	margin-right: 35px;
	right: 0;
	position: fixed;
	background-color: white;
}

.button_remove {
	width: 32px;
	height: 32px;
	background-image: url("../images/corbeille.png");
}

.button_unfriend {
	width: 16px;
	height: 16px;
	background-image: url("../images/unfriend.png");
}

.button_valid {
	width: 32px;
	height: 32px;
	background-image: url("../images/accept.jpg");
}

.button_ban {
	width: 32px;
	height: 32px;
	background-image: url("../images/ban.png");
}

.button_unban {
	width: 32px;
	height: 32px;
	background-image: url("../images/deban.ico");
}

.button_valid2 {
	width: 16px;
	height: 16px;
	background-image: url("../images/accept2.png");
}

.button_cancel {
	width: 32px;
	height: 32px;
	background-image: url("../images/cancel.png");
}

.button_admin {
	width: 32px;
	height: 32px;
	background-image: url("../images/admin.png");
}

.button_unadmin {
	width: 32px;
	height: 32px;
	background-image: url("../images/unadmin.png");
}

.button_edit {
	width: 32px;
	height: 32px;
	background-image: url("../images/edit.png");
}

.button_comment {
	width: 32px;
	height: 32px;
	background-image: url("../images/comment.png");
}

.comment {
	border-radius: 10px;
	width: 65%;
	border: 1px solid;
	padding: 5px;
	display: inline-block;
	margin: 10px;
	background-color: white;
}

.error {
	color: red;
	font-size: 15px;
}

a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: green;
}

.author {
	text-align: left;
	text-decoration: underline;
}

.content {
	color: blue;
}

h1 {
	font-size: 60px;
	color: white;
	background-color: blue;
	display: inline;
	border-radius: 15px;
}

.created_at, .updated_at {
	text-align: right;
	font-style: italic; 
}