/* line 4, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
th, td, tr {
  border: 1px solid;
  text-align: center;
}

/* line 9, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
table {
  border-collapse: collapse;
}

/* line 13, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 21, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 27, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 33, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
a {
  color: #000;
}
/* line 36, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
a:visited {
  color: #666;
}
/* line 40, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 47, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
#notice {
  color: green;
}

/* line 56, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 81, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/evaluations.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
