/* line 1, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
th, td, tr {
  border: 1px solid;
  text-align: center;
}

/* line 6, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
table {
  border-collapse: collapse;
}

/* line 10, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 18, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 24, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 30, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
a {
  color: #000;
}
/* line 33, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
a:visited {
  color: #666;
}
/* line 37, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 44, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
#notice {
  color: green;
}

/* line 53, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 67, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 78, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 84, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 113, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 122, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/messages.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
