/* line 1, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
}

/* line 10, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
a {
  color: #000;
}
/* line 25, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
a:visited {
  color: #666;
}
/* line 29, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 41, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
#notice {
  color: green;
}

/* line 45, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 51, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 59, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 70, /home/blondeau/Formation/Rendu/Ruby/RoR_Project/RoR_Project/myEbayApp/app/assets/stylesheets/password_resets.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
