<!DOCTYPE html>
<html ng-app="myFacebookApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <base href="/">
  <title>myFacebookApp</title>
</head>
<body>
  <header>
    <h1>myFacebookApp</h1>
    <nav>
      <div ng-if="unlogin">
        <a href="/">Login</a> |
        <a href="/register">Register</a>
      </div>
      <div ng-if="login">
        <a href="/logout">Logout</a>  | 
        <a href="/myPage">My page</a>  | 
        <a href="/newsPage">News page</a>  | 
        <a href="/profile">Profile</a>
      <div ng-if="admin">
        <a href="/membersList">Members list</a>
      </div>
        <div ng-controller="searchContactController" id='searchContact'>
          <form ng-submit="SearchContact()">
            <input type="email" ng-model="email"><br>
            <input type="submit" value="Search Contact">
          </form>
          <div ng-if="Error"><p class="error">{{error.error}}</p><button class="button_valid2" ng-click="ClearText()"></div>
        </div>
      </div>
    </nav>
  </header>
  <main>  
    <div ng-view></div>
  </main>  
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-route/angular-route.js"></script>
  <script src="/node_modules/socket.io-client/socket.io.js"></script>
  <script src="/app_client/routes.js"></script>
  <script src="/app_client/controllers/authentication.js"></script>
  <script src="/app_client/controllers/users.js"></script>
  <script src="/app_client/controllers/publications.js"></script>
  <script src="/app_client/controllers/comments.js"></script>
  <script src="/app_client/controllers/friends.js"></script>
  <script src="/app_client/controllers/admin.js"></script>
  <script src="/app_client/controllers/notifications.js"></script>
</body>
</html>
