<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @evaluation.rate %> / 5
</p>

<p>
  <strong>Content:</strong>
  <%= @evaluation.content %>
</p>

<p>
  <strong>Author:</strong>
  <% if logged_in? && current_user.id == @evaluation.evaluationable.id || current_user.admin? %>
  <%= link_to @evaluation.author_name, user_path(@evaluation.user_id) %><% else %>
  <%= link_to @evaluation.author_nickname, user_path(@evaluation.user_id) %><% end %>
</p>

<p>
  <strong>Evaluationable:</strong>
  <% if @evaluation.evaluationable.class.to_s == 'User' %>
    <%= link_to @evaluation.evaluationable.profile.first_name + ' ' + @evaluation.evaluationable.profile.last_name,
                user_path(@evaluation.evaluationable_id) %>
  <% else %>
    <%= link_to @evaluation.evaluationable.title, product_path(@evaluation.evaluationable_id) %>
  <% end %>
</p>

<% if logged_in? && (current_user.id == @evaluation.user_id || current_user.admin?)  %>
  <%= button_to 'Edit evaluation', edit_evaluation_path(@evaluation), method: :get, class: "btn btn-large btn-primary" %>
<% end %>
<%= button_to 'Back to evaluations list', evaluations_path, method: :get, class: "btn btn-large btn-primary" %>
