<div ng-controller="editProfileUserController" id='editProfileUser'>
    <div ng-controller="listFriendController" id="listFriend">
    <div ng-controller="notificationController" id="notification">
  <h2>Notifications</h2>
  <ul>
  <div ng-repeat="x in notifications">
  <li><p>{{x.author}} | {{x.content}} <button class="button_cancel" ng-click="OK(x._id)"></button></p>
  <p>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p></li>
  </div>
  </ul>
  </div>
    <div ng-controller="requestFriendController" id='requestFriend'>  
  <h2>Request Friend</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <div ng-repeat="x in requests">
    <div ng-controller="friendNicknameController" id="friendNickname">
     <p>{{nickname}} want to be friend with you :</p><button class="button_valid" ng-click="Accept(x.author)"></button><button class="button_cancel" ng-click="Refuse(x.author)"></button>
   </div>    
 </div>
</div>
    <h2>Friends</h2>
    <ul>
      <div ng-if="friends.length != 0">
      <div ng-repeat="x in friends">
        <li>
          <p><strong><a href="/{{x.nickname}}">{{x.nickname}}</a></strong><button class="button_unfriend" ng-click="RemoveFriend(x._id)"></button></p> 
          <p class="last_activity">last activity : {{x.last_activity | date:'MM/dd/yyyy H:m:s'}}</p>
        </li>
      </div>
      </div>
    </ul>
  </div>  
<h2>Edit profile</h2>
<div ng-if="Error"><p class="error">{{error.error}}</p></div>
<form ng-submit="EditProfile()">
    <input type="hidden" ng-model="id">
    <p><strong>Nickname :</strong></p>
    <input type="text" ng-model="nickname"><br>
    <p><strong>First name :</strong></p>
    <input type="text" ng-model="first_name"><br>
    <p><strong>Last name :</strong></p>
    <input type="text" ng-model="last_name"><br>
    <p><strong>Street number :</strong></p>
    <input type="text" ng-model="street_number"><br>
    <p><strong>Street name :</strong></p>
    <input type="text" ng-model="street_name"><br>
    <p><strong>City :</strong></p>
    <input type="text" ng-model="city"><br>
    <p><strong>Country :</strong></p>
    <input type="text" ng-model="country"><br>
    <p><strong>Postcode :</strong></p>
    <input type="text" ng-model="postcode"><br>
    <p><strong>Phone number :</strong></p>
    <input type="text" ng-model="phone_number"><br>
    <p><strong>Admin :</strong></p>
    <input type="boolean" ng-model="admin"><br>
    <input type="submit" value="Edit profile">
</form>
</div>