<div ng-controller="editLoginInfoController" id='editLoginInfo'>
  <div ng-controller="listFriendController" id="listFriend">
  <div ng-controller="notificationController" id="notification">
  <h2>Notifications</h2>
  <ul>
  <div ng-repeat="x in notifications">
  <li><p>{{x.author}} | {{x.content}} <button class="button_cancel" ng-click="OK(x._id)"></button></p>
  <p>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p></li>
  </div>
  </ul>
  </div>
  <div ng-controller="requestFriendController" id='requestFriend'>  
  <h2>Request Friend</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <div ng-repeat="x in requests">
    <div ng-controller="friendNicknameController" id="friendNickname">
     <p>{{nickname}} want to be friend with you :</p><button class="button_valid" ng-click="Accept(x.author)"></button><button class="button_cancel" ng-click="Refuse(x.author)"></button>
   </div>    
 </div>
</div>
    <h2>Friends</h2>
    <ul>
      <div ng-if="friends.length != 0">
      <div ng-repeat="x in friends">
        <li>
          <p><strong><a href="/{{x.nickname}}">{{x.nickname}}</a></strong><button class="button_unfriend" ng-click="RemoveFriend(x._id)"></button></p> 
          <p class="last_activity">last activity : {{x.last_activity | date:'MM/dd/yyyy H:m:s'}}</p>
        </li>
      </div>
      </div>
    </ul>
  </div>  
  <h2>Edit login info</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <form ng-submit="EditLoginInfo()">
    <p><strong>Email :</strong></p>
    <input type="text" ng-model="email"><br>
    <p><strong>New password :</strong></p>
    <input type="password" ng-model="password"><br>
    <p><strong>Confirmation password:</strong></p>
    <input type="password" ng-model="password_confirmation"><br>
    <p><strong>Current password (if new password):</strong></p>
    <input type="password" ng-model="current_password"><br>
    <input type="submit" value="Edit login info">
  </form>
</div>