<div ng-controller="loginController" id='login'>
  <h2>Login</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <form ng-submit="Login()">
    <p><strong>Email :</strong></p>
    <input type="email" ng-model="email"><br>
    <p><strong>Password :</strong></p>
    <input type="password" ng-model="password"><br>
    <p><strong>Remember me ?</strong></p>
    <input type="checkbox" ng-model="rememberMe"><br>
    <input type="submit" value="Login">
  </form>
</div>
