<div ng-controller="membersListController" id='membersList'>
  <div ng-controller="listFriendController" id="listFriend">
  <div ng-controller="notificationController" id="notification">
  <h2>Notifications</h2>
  <ul>
  <div ng-repeat="x in notifications">
  <li><p>{{x.author}} | {{x.content}} <button class="button_cancel" ng-click="OK(x._id)"></button></p>
  <p>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p></li>
  </div>
  </ul>
  </div>
    <div ng-controller="requestFriendController" id='requestFriend'>  
  <h2>Request Friend</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <div ng-repeat="x in requests">
    <div ng-controller="friendNicknameController" id="friendNickname">
     <p>{{nickname}} want to be friend with you :</p><button class="button_valid" ng-click="Accept(x.author)"></button><button class="button_cancel" ng-click="Refuse(x.author)"></button>
   </div>    
 </div>
</div>
    <h2>Friends</h2>
    <ul>
      <div ng-if="friends.length != 0">
      <div ng-repeat="x in friends">
        <li>
          <p><strong><a href="/{{x.nickname}}">{{x.nickname}}</a></strong><button class="button_unfriend" ng-click="RemoveFriend(x._id)"></button></p> 
          <p class="last_activity">last activity : {{x.last_activity | date:'MM/dd/yyyy H:m:s'}}</p>
        </li>
      </div>
      </div>
    </ul>
  </div>  
<h2>Members List</h2>
<div ng-if="Error">{{error.error}}</div>
	<ul>
	<div ng-repeat="member in members">
		<li>
		<a href="/{{member.nickname}}"><strong>{{member.nickname}}</strong></a>
    <div ng-controller="adminController" id='admin'> 
		<button class="button_ban memberList" ng-click="BanUser(member._id)" ng-if="member.ban == false"></button>
		<button class="button_unban memberList" ng-click="UnbanUser(member._id)" ng-if="member.ban == true"></button>
		<button class="button_remove memberList" ng-click="RemoveUser(member._id)"></button>
		<button class="button_admin memberList" ng-click="AdminUser(member._id)" ng-if="member.admin == false"></button>
		<button class="button_unadmin memberList" ng-click="UnadminUser(member._id)" ng-if="member.admin == true"></button>
    </div>
		</li>
	</div>
	</ul>
</div>

