<div ng-controller="newsPageController" id='newsPage'>
	<div ng-controller="listFriendController" id="listFriend">
	<div ng-controller="notificationController" id="notification">
  <h2>Notifications</h2>
  <ul>
  <div ng-repeat="x in notifications">
  <li><p>{{x.author}} | {{x.content}} <button class="button_cancel" ng-click="OK(x._id)"></button></p>
  <p>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p></li>
  </div>
  </ul>
  </div>
	<div ng-controller="requestFriendController" id='requestFriend'>	
  <h2>Request Friend</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <div ng-repeat="x in requests">
    <div ng-controller="friendNicknameController" id="friendNickname">
     <p>{{nickname}} want to be friend with you :</p><button class="button_valid" ng-click="Accept(x.author)"></button><button class="button_cancel" ng-click="Refuse(x.author)"></button>
   </div>    
 </div>
</div>
    <h2>Friends</h2>
    <ul>
      <div ng-if="friends.length != 0">
      <div ng-repeat="x in friends">
        <li>
          <p><strong><a href="/{{x.nickname}}">{{x.nickname}}</a></strong><button class="button_unfriend" ng-click="RemoveFriend(x._id)"></button></p> 
          <p class="last_activity">last activity : {{x.last_activity | date:'MM/dd/yyyy H:m:s'}}</p>
        </li>
      </div>
      </div>
    </ul>
  </div>  
	<div ng-if="Error"><p class="error">{{error.error}}</p></div>
		<form ng-submit="NewPublication()">
			<p><strong>New publication :</strong></p>
			<textarea ng-model="publication" rows="6" cols="80" ></textarea><br>
			<input type="submit" value="Publicate">
		</form><br>
	<div ng-repeat="x in Publications">
		<div ng-controller="actionsPublicationController" id="actionsPublication">
			<div ng-if="Error"><p class="error">{{error.error}}</p></div>
			<div class="publication">
				<p class="author"><strong><a href="/{{x.author}}">{{x.author}}</a></strong></p>
				<p class="created_at">Publicated at : {{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p>
				<p class="content"><strong>{{x.content}}</strong></p>
				<div ng-if="Edit">
					<form ng-submit="EditPublicationData(x._id)">
						<p><strong>Edit publication :</strong></p>
						<textarea ng-model="$parent.content" rows="6" cols="80"></textarea><br>
						<input type="submit" value="Edit publication">
					</form><br>
					<button class="button_cancel" ng-click="CancelEdit()"></button>
				</div>	
				<div ng-if="x.updated_at != null">
					<p class="updated_at">Edited at : {{x.updated_at | date:'MM/dd/yyyy H:m:s'}}</p>
				</div>	
				<button class="button_edit" ng-click="EditPublication()"></button><button class="button_remove" ng-click="RemovePublication(x._id)"></button><button class="button_comment" ng-click="CommentPublication()"></button>
			</div>	
			<div ng-if="Comment">
				<form ng-submit="CommentPublicationData(x._id)">
					<p><strong>Comment publication :</strong></p>
					<textarea ng-model="$parent.content" rows="3" cols="40"></textarea><br>
					<input type="submit" value="Comment publication">
				</form><br>
				<button class="button_cancel" ng-click="CancelComment()"></button>
			</div>
		</div>
		<div ng-controller="commentController" id="comment">
			<div ng-if="Error"><p class="error">{{error.error}}</p></div>
			<div ng-if="comments.length != 0">
				<button class="button_hide" ng-click="toggle()">Hide comments</button>
				<div ng-hide="hide_comments">
					<p><strong>Comments :</strong></p>
					<ul>
						<div ng-repeat="x in comments">
							<li><div class="comment">
								<p class="author"><strong>{{x.author}}</strong></p>
								<p class="created_at">Publicated at : {{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p>
								<p class="content"><strong>{{x.content}}</strong></p>
								<div ng-if="Edit">
									<form ng-submit="EditCommentData(x._id)">
										<p><strong>Edit Comment :</strong></p>
										<textarea ng-model="$parent.$parent.$parent.$parent.comment" rows="3" cols="40"></textarea><br>
										<input type="submit" value="Edit comment">
									</form><br>
									<button class="button_cancel" ng-click="CancelEdit()"></button>
								</div>	
								<div ng-if="x.updated_at != null">
									<p class="updated_at">Edited at : {{x.updated_at | date:'MM/dd/yyyy H:m:s'}}</p>
								</div>	
								<button class="button_edit" ng-click="EditComment()"></button><button class="button_remove" ng-click="RemoveComment(x._id, x.publication_id)"></button>
							</div>
						</li>
					</ul>
				</div>
			</div>		
		</div>		
	</div>
</div>	 