<div ng-controller="profileController" id='profile'>
	<div ng-controller="listFriendController" id="listFriend">
	<div ng-controller="notificationController" id="notification">
  <h2>Notifications</h2>
  <ul>
  <div ng-repeat="x in notifications">
  <li><p>{{x.author}} | {{x.content}} <button class="button_cancel" ng-click="OK(x._id)"></button></p>
  <p>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p></li>
  </div>
  </ul>
  </div>
	<div ng-controller="requestFriendController" id='requestFriend'>	
  <h2>Request Friend</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <div ng-repeat="x in requests">
    <div ng-controller="friendNicknameController" id="friendNickname">
     <p>{{nickname}} want to be friend with you :</p><button class="button_valid" ng-click="Accept(x.author)"></button><button class="button_cancel" ng-click="Refuse(x.author)"></button>
   </div>    
 </div>
</div>
    <h2>Friends</h2>
    <ul>
      <div ng-if="friends.length != 0">
      <div ng-repeat="x in friends">
        <li>
          <p><strong><a href="/{{x.nickname}}">{{x.nickname}}</a></strong><button class="button_unfriend" ng-click="RemoveFriend(x._id)"></button></p> 
          <p class="last_activity">last activity : {{x.last_activity | date:'MM/dd/yyyy H:m:s'}}</p>
        </li>
      </div>
      </div>
    </ul>
  </div>  
	<h2>Profile</h2>
	<div class="profile">
		<a href="/editProfile">Edit profile</a>  | 
		<a href="/editLoginInfo">Edit login info</a>  | 
		<a href="/destroy">Remove my account</a>
	</div>	
	<div ng-if="Error"><p class="error">{{error.error}}</p></div>
	<div class="profile_info">
		<p>Email : <strong>{{session.email}}</strong></p>
		<p>Nickname : <strong>{{session.nickname}}</strong></p>
		<p>First name : <strong>{{session.first_name}}</strong></p>
		<p>Last name : <strong>{{session.last_name}}</strong></p>
		<p>phone number : <strong>{{session.phone_number}}</strong></p>
		<p>Street number : <strong>{{session.street_number}}</strong></p>
		<p>Street name : <strong>{{session.street_name}}</strong></p>
		<p>City : <strong>{{session.city}}</strong></p>
		<p>Postcode : <strong>{{session.postcode}}</strong></p>
		<p>Country : <strong>{{session.country}}</strong></p>
	</div>
</div>