<div ng-controller="registerController" id='register'>
  <h2>Register</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <form ng-submit="Register()">
    <p><strong>Nickname :</strong></p>
    <input type="text" ng-model="nickname"><br>
    <p><strong>Email :</strong></p>
    <input type="email" ng-model="email"><br>
    <p><strong>Password :</strong></p>
    <input type="password" ng-model="password"><br>
    <p><strong>Password confirmation :</strong></p>
    <input type="password" ng-model="password_confirmation"><br>
    <input type="submit" value="Register">
  </form>
</div>
