<div ng-controller="userProfileController" id='userProfile'>
	<div ng-controller="listFriendController" id="listFriend">
	<div ng-controller="notificationController" id="notification">
  <h2>Notifications</h2>
  <ul>
  <div ng-repeat="x in notifications">
  <li><p>{{x.author}} | {{x.content}} <button class="button_cancel" ng-click="OK(x._id)"></button></p>
  <p>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</p></li>
  </div>
  </ul>
  </div>
	<div ng-controller="requestFriendController" id='requestFriend'>	
  <h2>Request Friend</h2>
  <div ng-if="Error"><p class="error">{{error.error}}</p></div>
  <div ng-repeat="x in requests">
    <div ng-controller="friendNicknameController" id="friendNickname">
     <p>{{nickname}} want to be friend with you :</p><button class="button_valid" ng-click="Accept(x.author)"></button><button class="button_cancel" ng-click="Refuse(x.author)"></button>
   </div>    
 </div>
</div>
    <h2>Friends</h2>
    <ul>
      <div ng-if="friends.length != 0">
      <div ng-repeat="x in friends">
        <li>
          <p><strong><a href="/{{x.nickname}}">{{x.nickname}}</a></strong><button class="button_unfriend" ng-click="RemoveFriend(x._id)"></button></p> 
          <p class="last_activity">last activity : {{x.last_activity | date:'MM/dd/yyyy H:m:s'}}</p>
        </li>
      </div>
      </div>
    </ul>
  </div>  
	<h2>{{nickname}} Profile</h2>
	<div ng-if="Admin">
	<div ng-controller="adminController" id='admin'>
	<button class="button_ban memberList" ng-click="BanUser(user._id)" ng-if="user.ban == false"></button>
	<button class="button_unban memberList" ng-click="UnbanUser(user._id)" ng-if="user.ban == true"></button>
	<button class="button_remove memberList" ng-click="RemoveUser(user._id)"></button>
	<button class="button_admin memberList" ng-click="AdminUser(user._id)" ng-if="user.admin == false"></button>
	<button class="button_unadmin memberList" ng-click="UnadminUser(user._id)" ng-if="user.admin == true"></button>
	</div>
	</div>
	<div ng-if="Error"><p class="error">{{error.error}}</p></div>
	<div class="profile_info">
		<p>Email : <strong>{{user.email}}</strong></p>
		<p>Nickname : <strong>{{user.nickname}}</strong></p>
		<p>First name : <strong>{{user.first_name}}</strong></p>
		<p>Last name : <strong>{{user.last_name}}</strong></p>
		<p>phone number : <strong>{{user.phone_number}}</strong></p>
		<p>Street number : <strong>{{user.street_number}}</strong></p>
		<p>Street name : <strong>{{user.street_name}}</strong></p>
		<p>City : <strong>{{user.city}}</strong></p>
		<p>Postcode : <strong>{{user.postcode}}</strong></p>
		<p>Country : <strong>{{user.country}}</strong></p>
	</div>
</div>